/* página blog */
.post{
    padding: 0.1em 0    ;
}
.post + .post{
    background-image: linear-gradient(to right, transparent, grey, transparent);
    background-repeat: no-repeat;
    background-size: 80% 0.1em;
    background-position: top center;
}
.read-more{
    background-color: #320a27;
    color: #FFF;
    padding: 0.6em;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;
    transition:.2s;
}
.read-more:hover{
    background-color: #851b67;
}
.post-tag{
    background-color: #320a27;
    border-radius: 1em;
    color: #FFF;
    font-size: 0.7em;
    text-decoration: none;
    padding: 0 0.5em;
    padding-bottom: 0.1em;
    display: inline-block;
    font-family: "Open Sans Condensed", sans-serif;
}