html, body {
    height: 100%;
    overflow-x: hidden;
}
body {
    perspective: 6px;
    perspective-origin: 50% 160px;
}
.foto-home {
    height: 200px;
    z-index: 100;
    border-radius: 50% ;
}
.subtitulo-principal{
    font-family: "Open Sans Condensed", sans-serif;
}
.saudacao p {
    color: #99A;
    line-height: 1;
    font-size: 1.5em;
    padding: 0 15%; 
}
.saudacao-inicio {
    color: #889;
    font-size: 3em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    color: #000;
    font-size: 1.7em;
}
.saudacao em {
    color: #851944;
    font-size: 3em;
    display: inline-block;
    transform: rotate(-6deg) skew(-14deg);
}
.botao-index {
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #851944;
    color: #FFF;
    padding: 0.5em;
    width: 20em;
    display: block;
    text-align: center;
    margin: 1em auto;
    transition: .2s;
}
.botao-index:hover{
    background-color: #631534;
}
.secao-inicio{
    padding: 2em 15%;
}
.secao-inicio h2 {
    text-transform: uppercase;
    text-shadow: 0.1em 0.1em #000;
}
.trabalhos {
    background-image: linear-gradient(135deg,
                                    transparent,
                                    transparent 0.67em,   
                                    rgb(90, 90, 90) 0.67em, 
                                    rgb(90, 90, 90) 0.74em, 
                                    transparent 0.74em,
                                    transparent);
    background-size: 1em 1em;
    background-attachment: fixed;
    background-color: #3C1D3D;
    border-top: 0.5em solid #000;
    border-bottom: 0.5em solid #000;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: 0.5em solid black;
    margin: 2em 0;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    position: relative;
    background-color: #999;
    color: #FFF;
    border-bottom: 10px solid #851944;
    background-image: linear-gradient(45deg,
                                    transparent,
                                    transparent 0.67em,   
                                    rgb(90, 90, 90) 0.67em, 
                                    rgb(90, 90, 90) 0.74em, 
                                    transparent 0.74em,
                                    transparent);
    background-size: 1em 1em;
    background-attachment: fixed;
}
.recent-post{
    width: 30%;
}
.link-to-post {
    color: #FCF;
    line-height: 3em;
    width: 17em;
    display: block;
    transition: 0.2s;
}
.inicio-post{
    background-color: #fff;
    color: #000;
    height: 6em;
    padding: 1.3em;
    font-size: 1.1em;
    position: absolute;
    top: 4.3em;
    width: 45%;
    left: 35%;
    display: none;
    transition: 0.2s;
}
.link-to-post:hover + .inicio-post,
.link-to-post:focus + .inicio-post{
    display: block;
}
.link-to-post:hover,
.link-to-post:focus{
    background-color: #fff;
    color: #3C1D3D;
    padding-left: 0.5em; 
}
footer {
    padding: 1em 15%; 
    background-color: #000;
    color: #FFF;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
.palavras-home{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.palavras-home, .subtitulo-principal{
    transform-style: preserve-3d;
}
.palavra-home{
    position: absolute;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    letter-spacing: 0.2ch;
    color: rgba(255, 255, 255, 0.8);
    font-size: 400%;
}
.eficiencia {
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px) scale(0.25);
}

.boas-praticas {
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(1px) scale(0.25);
    opacity: .3;
}

.codigo-limpo {
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(2px) scale(0.25);
    opacity: .3;
}

.css3 {
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(2px) scale(0.25);
    opacity: .6;
}

.html5 {
    top: 30%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
    opacity: .6;
}

.javascript {
    top: 15%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(1px) scale(0.25);
    opacity: .3;
}

.acessibilidade {
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(3px) scale(0.25);
    opacity: .85;
}

.responsivo {
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(3px) scale(0.25);
    opacity: .85;
}

.otimizacoes {
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(2px) scale(0.25);
    opacity: .6;
}

.agilidade {
    top: 75%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(1px) scale(0.25);
    opacity: .3;
}

.design {
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
    opacity: .85;
}
.followme{
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    height: 15em;
    width: 20em;
    background-color: #FFF;
    vertical-align: bottom;
    transform-origin: 0 0;
    transform: translateX(19em) translateY( -13em) rotate(45deg);
    transition: .2s;
}
.followme:hover,
.followme:focus{
    transform: translateX(18.5em) translateY( -12.5em) rotate(45deg);
}
.followme span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    letter-spacing: 0.3ch;
}
