.foto-home {
    height: 200px;
    z-index: 100;
    border-radius: 50% ;
}
.subtitulo-principal{
    font-family: "Open Sans Condensed", sans-serif;
}
.saudacao p {
    color: #99A;
    line-height: 1;
    font-size: 1.5em;
    padding: 0 15%; 
}
.saudacao-inicio {
    color: #889;
    font-size: 3em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    color: #000;
    font-size: 1.7em;
}
.saudacao em {
    color: #851944;
    font-size: 3em;
    display: inline-block;
    transform: rotate(-6deg) skew(-14deg);
}
.botao-index {
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #851944;
    color: #FFF;
    padding: 0.5em;
    width: 20em;
    display: block;
    text-align: center;
    margin: 1em auto;
}
.secao-inicio{
    padding: 2em 15%;
}
.secao-inicio h2 {
    text-transform: uppercase;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: 0.5em solid #000;
    border-bottom: 0.5em solid #000;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: 0.5em solid black;
    margin: 2em 0;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    position: relative;
    background-color: #999;
    color: #FFF;
    border-bottom: 10px solid #851944;
}
.blog li{
    width: 30%;
}
.blog li a {
    color: #FCF;
    line-height: 3em;
}
.inicio-post{
    background-color: #fff;
    color: #000;
    height: 6em;
    padding: 1.3em;
    font-size: 1.1em;
    position: absolute;
    top: 4.3em;
    width: 45%;
    left: 35%;
}
footer {
    padding: 1em 15%; 
    background-color: #000;
    color: #FFF;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
.palavra-home{
    position: absolute;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    letter-spacing: 0.2ch;
    color: rgb(253, 220, 255);
}
.eficiencia{
    top:20%;
    left: 75%;
    transform: rotate(-5deg)
}
.javascript{
    top:8%;
    left: 60%;
    transform: rotate(-10deg)
}
.design{
    top:30%;
    left: 63%;
    transform: rotate(10deg);
}
.html5{
    top:38%;
    left: 78%;
    transform: rotate(8deg);
}
.otimizacoes{
    top: 52%;
    left: 70%;
    transform: rotate(-12deg);
}
.agilidade{
    top: 8%;
    left: 32%;
    transform: rotate(9deg);
}
.responsivo{
    top: 20%;
    left: 19%;
    transform: rotate(10deg);
}
.acessibilidade{
    top: 30%;
    left: 28.7%;
    transform: rotate(-8deg);
}
.codigo-limpo{
    top: 38%;
    left: 14%;
    transform: rotate(-8deg);
}
.css3{
    top: 42%;
    left: 32%;
    transform: rotate(10deg);
}
.boas-praticas{
    top: 55%;
    left: 22%;
    transform: rotate(10deg);
}
#followme{
    position: absolute;
    top: 0;
    right: 0;
    height: 15em;
    width: 20em;
    background-color: #FFF;
    vertical-align: bottom;
    transform-origin: 0 0;
    transform: translateX(19em) translateY( -13em) rotate(45deg);
}
#followme:hover{
    transform: translateX(18.5em) translateY( -12.5em) rotate(45deg);
}
#followme span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    letter-spacing: 0.3ch;
}
