/* página portfólio */


.meus-trabalhos{
    display: flex;
    flex-wrap: wrap;
}
.box{
    flex: 1 1 40%;
    box-sizing: border-box;
    padding: 0.5em;
    margin:0.5em;
    border: .1em solid #3C1D3D;
    transition: .2s;
}
.meus-trabalhos .box:first-child{
    flex-basis: 100%;
}
.box:hover{
    transform: scale(1.01);
}
.portfolio-img{
    width: 100%;
    box-shadow: 0 0 4px #000
}